html {
    scroll-behavior: smooth;
}

body {

}
// главный контейнер
.boss {
    font-family: "Unbounded", sans-serif;
    color: #F1F1F1;
    // background-color: #BA7EE0;

    font-size: 20px;
    font-weight: 300;
    line-height: 24.8px;

    max-width: 1550px;
    margin: 0 auto;

    scroll-snap-type: y mandatory; /* Включаем скроллинг по вертикали */

    // отключалка
    .non_visible {
        display: none;
        opacity: 0;
    }
    // анимации 
    .loader {
        width: 100%;
        height: 100vh;
        background-color: rgba(198, 190, 225, 1);

        &__section {
        
            position: relative;

            font-size: 40px;
            font-weight: 300;

            z-index: 2;

            .right {

                h2 {
                    padding: 100px 0px;
                }

                &__text {
                }
            }

            .share {
                opacity: 1;
                position: absolute;
                top: 50px;
                right: 252px;
                z-index: -1;
                width: 400px;
                height: 400px;
                background-color: rgba(73, 77, 90, 1);
                border-radius: 50%;

                display: flex;
                align-items: center;
                justify-content: center;

                h2 {
                    font-size: 50px;
                    font-weight: 250;
                    opacity: 1;
                }
            }
        }
    }
    // всплывающая клавиатура
    .preview {

        display: flex;
        justify-content: center;
        align-items: center;

        .keyboard {
            opacity: 0;

            &__keyaboards {

                display: flex;
                justify-content: center;
                column-gap: 22px;
            }

            text-align: center;

            &__text {
                font-family: 'Kameron';
                margin-top: 14px;
                font-size: 40px;
                font-weight: 400;
            }
        }
    }
    // тут и так все понятно
    .header {
        position: fixed;
        opacity: 1;
        top: 0;
        left: 0;
        text-align: center;
        width: 100%;
        z-index: 100;
        color: white;
        margin: 20px;

        padding: 15px;

        background: linear-gradient(90deg, rgba(232, 153, 191, 0.32) 0%, rgba(185, 178, 142, 0.32) 30.68%, rgba(175, 158, 175, 0.32) 52.4%, rgba(159, 165, 195, 0.32) 81.66%);


        border-radius: 36px;

        .nav {

            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 14px 73px;

            &__logo {

            }

            &__nav {

                display: flex;
                align-items: center;

                column-gap: 20px;

                .item {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 23.74px;

                    a {
                        color: rgba(255, 255, 255, 1);
                    }
                }

                .active {
                    background: linear-gradient(90deg, rgba(232, 153, 191, 0.32) 8%, rgba(185, 178, 142, 0.32) 30.68%, rgba(175, 158, 175, 0.32) 52.4%, rgba(159, 165, 195, 0.32) 81.66%);
                    border-radius: 36px;
                }
            }
        }
    }
    // слайдер с работами 
    .slider {

        background-color: #494D5A;
        color: #ffffff;

        .first {
            display: flex;

            .blocks {
                .row {
                    display: flex;

                    .block {
                        cursor: pointer;

                        width: 327px;
                        height: 327px;
                        border: 1px solid #CACACA;


                        display: flex;
                        align-items: center;
                        justify-content: flex-start;

                        position: relative;
                    

                        p {
                            margin-left: 37px;
                            padding: 5px;
                            font-size: 32px;
                            font-weight: 300;
                            line-height: 39.68px;

                            z-index: 6;

                            transition: all 0.5s ease-in-out;
                        }

                        img {
                            z-index: 3;
                            position: absolute;
                            left: 33px;
                            opacity: 0;
                            transition: all 0.7s ease-in-out; /* Плавный переход для прозрачности */
                        }

                        .active_img {
                            opacity: 1;
                        }

                        .active_p {
                            font-weight: 450;
                            scale: 1.2
                        }
                    }

                    .block:hover p {
                        font-weight: 400;
                        scale: 1.2
                    }

                    // for manager
                    .bottom {
                        width: 654px;
                    }
                }
            }

            .right {

                width: 100%;

                .result {
                    height: 654px;
                    
                    background-color: #C6BEE1;

                    transition: all 0.7 ease-in-out;

                    border: 1px solid #CACACA;


                    &__info {
                        
                        opacity: 0;

                        transition: all 0.7 ease-in-out;

                        .text_section {
                            padding-top: 64px;
                            margin-left: 65px;

                            h2 {
                                font-size: 32px;
                                font-weight: 600;
                                line-height: 39.68px;
                            }
            
                            p {
                                margin-top: 18px;

                                font-weight: 400;
                                line-height: 24.8px;
                                font-size: 20px;
                            }
                        }                    

                        .image_section {

                            margin-top: 24px;

                            &__row {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                column-gap: 50px;

                                .item {
                                    text-align: center;

                                    p {
                                        margin-top: 13px;

                                        color: #464D63;
                                        font-weight: 700;
                                        font-size: 20px;
                                    }
                                }
                            }

                            .help {
                                margin-top: 26px;
                            }
                        }

                        // for PM

                        .pm {
                            margin-top: 26px;
                            margin-left: 131px;
                        }

                        // for System Analys

                        .SA {
                            margin-top: 120px;
                        }
                    }

                    .active {
                        opacity: 1;
                    }
                }

                .result_chat {

                    border: 1px solid #CACACA;
                    height: 327px;

                    p {
                        margin-top: 56px;
                        margin-left: 43px;

                        font-weight: 300;
                        font-size: 20px;
                    }

                    .button_section {

                        margin-top: 67px;

                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0px 25px 0px 43px;

                        button {
                            align-items: center;
                            display: inline-flex;
                            align-items: center;
                            background: linear-gradient(90deg, #F1AD2A 0%, #BA7EE0 100%);
                            border-radius: 50px;
                            padding: 10px 20px;
                            cursor: pointer;

                            transition: all 0.3s ease-in-out;
                            

                            .contact_btn {
                                padding: 10px;
                                border-radius: 50%;
                                background-color: white;
                            }

                            span {
                                font-family: 'Unbounded', sans-serif;
                                font-size: 20px;
                                font-weight: 400;
                                color: white;
                            }

                            img {
                                margin-left: 28px;
                                padding: 10px;
                                border-radius: 50%;
                                background-color: white;
                                display: inline-block;
                            }
                        }

                        button:hover {
                            scale: 1.1;
                        }
                    }
                }
            }
        }

        .info {

            margin-top: 88px;
            display: flex;
            justify-content: space-around;
            padding: 10px;
            padding-bottom: 88px;

            &__item {
                
                h3 {
                    font-size: 40px;
                    font-weight: 800;
                }

                p {
                    margin-top: 5px;
                    font-size: 20px;
                    font-weight: 300;
                }
            }
        }
    }
    // свайпер с проектами 
    .swipper {

        scroll-snap-align: start;
        
        &__container {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 100vh;

            .left_slide {
                height: 100%;
                width: 60%;
                position: absolute;
                top: 0;
                left: 0;
                transition: transform 1.9s ease;

                .card_item {
                    // background-color: #7FACE1;

                    position: relative;

                    // для benechat
        
                    .images_section_benechat {
                        margin-left: 66px;
                        position: relative;
        
                        width: 683px;
                        height: 473px;
        
                        img {
                            position: absolute;
                            z-index: 1;
                        }
        
                        .image_2 {
                            top: 56px;
                            left: 228px;
                            z-index: 5;
                        }
        
                        .image_3 {
                            top: 104px;
                            left: 86px;
                            z-index: 10;
                        }
        
        
                    }
        
                    .benechat_text {
                        margin-top: 60px;
                    }
            
                    .images_section__tickets_two {
                        margin-left: 123px;
                        position: relative;
        
                        width: 633px;
                        height: 472px;
        
                        img {
                            position: absolute;
                        }
        
                        .image_1 {
                            top: 116px;
                            left: 123px;
                            z-index: 10;
                        }
                    }
        
                    .video_text {
                        margin-top: 68px;
                    }
        
                    h2 {
                        margin-top: 109px;
                        text-align: center;
                        
                        font-size: 64px;
                        font-weight: 600;
                        color: #F1F1F1;
                    }

                    .figute_1 {
                        position: absolute;
                        top: 0;
                        left: 0;

                        width: 400px;
                        height: 400px;

                        background-color: #BA7EE0;
                        opacity: 0.2;
                        z-index: -5;
                    }
                }
                // задний фон
                .card_item::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: '';
                    width: 100%;
                    height: 100vh;
                    background-image: url('/4KeyLanding/landing/img/background.png'); /* Путь к вашему изображению */
                    background-size:auto; /* Масштабируем изображение по всей секции */
                    background-position: center; /* Центрируем изображение */
                    opacity: 0.5; /* Применяем прозрачность */
                    z-index: -1; /* Чтобы псевдоэлемент был за контентом */

                    pointer-events: none; 
                }

                // .card_item:after {
                //     content: '';
                //     position: absolute;
                //     z-index: -2; /* Фигуры будут позади фонового изображения */
                //     background-color: rgba(127, 172, 225, 1); /* Красный круг с прозрачностью */
                
                //     /* Можно добавить анимацию для фигур */
                //     animation: float 6s ease-in-out infinite;

                //     rotate: -56deg;

                //     width: 880.92px;
                //     height: 547.48px;
                //     top: 50.07px;
                //     left: 180.79px;
                //     gap: 0px;
                //     opacity: 0.4;
                // }
                
            }

            .left_slide > div {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: #fff;
            }

            .right_slide {
                height: 100%;
                position: absolute;
                top: 0;
                left: 60%;
                width: 40%;
                transition: transform 1.9s ease;
                background-color: rgba(136, 141, 158, 0.71);

                .card_item {

                    .description {
        
                        max-width: 500px;
                        margin-left: 85px;
            
                        &__title {
                            color: #D9E6F5;
                            font-size: 48px;
                            
                        }
            
                        &__description {
                            margin-top: 30px;
                        }
                    }
            
            
                    .stack {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
            
                        margin: 102px auto 0px;
                        padding: 26px 25px;
                        background-color: #FEFEFE29;
                        border-radius: 27px;
            
                        max-width: 410px;
            
                        .row {
            
                            display: flex;
                            justify-content: space-around;
                            align-items: flex-end;
            
                            .item {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                padding: 6px;
            
                                h4 {
                                    font-size: 13px;
                                    color: #464D63;
                                    text-align: center;
                                    font-weight: 600;
            
                                    font-family: "Kadwa", serif;
                                }
                            }
                        }
            
                        .withTwo {
                            justify-content: center;
                            gap: 50px;
                        }
                    }
            
                    .btn_section {
                        margin-top: 40px;
                        display: flex;
                        justify-content: center;
            
                        &__button {
            
                            padding: 20px 30px;
                            background-color: #494D5A;
                            border-radius: 30px;
                        }
        
                        img {
                        }
                    }
                }
            }

            .right_slide > div {
                height: 100%;
                width: 100%;
                background-color: rgb(96, 97, 97);

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            .button_section {

                button {
                    position: absolute;
                    left: 60%;
                    top: 50%;
                    z-index: 100;
                }

                .down_button {
                    transform: translateX(-100%);
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }

                .up_button {
                    transform: translateY(-100%);
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
            }
        }
    }
    // секция контакты
    .contact {

        display: flex;
        justify-content: center;
        background-color: #7FACE1;

        .rectangle {
            margin-top: 60px;
            background-color: #494D5A;
            width: 1200px;
            padding: 23px;
            margin-bottom: 81px;

            &__title {
                text-align: center;
                margin-top: 236px;

                font-size: 120px;
                font-weight: 400;
            }

            .form {
                margin-top: 174px;
                
                display: flex;
                justify-content: flex-end;

                &__info {
                    input {
                        margin-left: 22px;
                        width: 670px;
                        height: 39px;
                    }

                    input::placeholder {
                        color: #FFFFFF;
                        font-size: 32px;
                        font-weight: 200;

                        font-family: "Inter", sans-serif;
                    }

                    .border {
                        height: 2px;
                        width: 590px;
                        background-color: #FFFFFF;
                        margin-top: 17px;
                    }

                    .email {
                        margin-top: 30px;
                    }
                }
            }

            &__contacts {
                margin-top: 53px;

                display: flex;
                justify-content: center;
                column-gap: 140px;

                font-size: 18px;
                font-weight: 400;
                
                
                .item {
                    display: flex;
                    align-items: center;
                    column-gap: 10px;
                    transition: all 0.5s ease-in-out;

                    a {
                        color: white;

                        transition: all 0.5s ease-in-out;
                    }

                    // a:hover {
                    //     font-weight: 450;
                    //     scale: 1.2
                    // }
                }

                .item:hover {
                    font-weight: 450;
                    scale: 1.2;
                }

                margin-bottom: 56px;
            }
        }
    }
    // посмотри комменатрий к хедеру
    .footer {
        background-color: #494D5A;
        padding: 1px;

        .keyboard {
            margin-top: 143px;
            &__keyaboards {

                display: flex;
                justify-content: center;
                column-gap: 22px;
            }

            text-align: center;

            &__text {
                font-family: 'Kameron';
                margin-top: 14px;
                font-size: 40px;
                font-weight: 400;
                
                margin-bottom: 60px;
            }
        }
    }

    // ноутбуки или древние компы 870-1250
    @media (max-width: 1250px) {
        
        .slider {
            .first {
    
                .blocks {
                    .row {
                        .block {
                            width: 210px;
                            height: 210px;
                            p {
                                margin-left: 30px;
                                padding: 5px;
                                font-size: 23px;
                                font-weight: 300;
                                line-height: 39.68px;
                                z-index: 6;
                                transition: all 0.5s ease-in-out;
                            }
    
                            img {
                                width: 160px;
                                left: 20px;
                            }
                        }
    
                        .block:hover p {
                            font-weight: 400;
                            scale: 1.16
                        }
    
                        // for manager
                        .bottom {
                            width: 420px;
                        }
                    }
                }
    
                .right {
    
                    width: 100%;
    
                    .result {
                        height: 420px;
                        &__info {
                            .text_section {
                                padding-top: 20px;
                                margin-left: 50px;
    
                                h2 {
                                    font-size: 25px;
                                    font-weight: 600;
                                    line-height: 39.68px;
                                }
                
                                p {
                                    margin-top: 3px;
    
                                    font-weight: 400;
                                    line-height: 24.8px;
                                    font-size: 15px;
                                }
                            }                    
    
                            .image_section {
    
                                margin-top: 15px;
    
                                &__row {
                                    column-gap: 25px;
    
                                    .item {
                                        text-align: center;
                                        
                                        p {
                                            margin-top: 10px;
    
                                            color: #464D63;
                                            font-weight: 600;
                                            font-size: 15px;
                                        }

                                        img {
                                            width: 90px;
                                        }
                                    }
                                }
    
                                .help {
                                    margin-top: 10px;
                                }
                            }
    
                            // for PM
    
                            .pm {
                                margin-top: 26px;
                                margin-left: 50px;

                                img {
                                    width: 370px;

                                }
                            }
    
                            // for System Analys
    
                            .SA {
                                margin-top: 50px;
                            }
                        }
    
                        .active {
                            opacity: 1;
                        }
                    }
    
                    .result_chat {
    
                        height: 210px;
    
                        p {
                            margin-top: 22px;
                            margin-left: 23px;
                            padding-right: 5px;
    
                            font-weight: 300;
                            font-size: 16px;
                        }
    
                        .button_section {
    
                            margin-top: 10px;
                            margin-left: 13px;
    
                            padding: 0px 8px 0px 13px;
    
                            button {
                                padding: 5px 15px;                                
    
                                .contact_btn {
                                    padding: 10px;
                                }
    
                                span {
                                    font-size: 15px;
                                    font-weight: 400;
                                }
    
                                img {
                                    margin-left: 28px;
                                    padding: 8px;
                                }
                            }
    
                            button:hover {
                                scale: 1.1;
                            }
                        }
                    }
                }
            }
    
            .info {
    
                margin-top: 70px;
                display: flex;
                justify-content: space-around;
                padding: 10px;
                padding-bottom: 70px;
    
                &__item {
                    
                    h3 {
                        font-size: 35px;
                        font-weight: 800;
                    }
    
                    p {
                        margin-top: 5px;
                        font-size: 18px;
                        font-weight: 300;
                    }
                }
            }
        }

        .swipper {
            
            &__container {
    
                .left_slide {
    
                    .card_item {
                        // background-color: #7FACE1;
    
                        // для benechat

                        flex-direction: column;
                        justify-content: center;
            
                        .images_section_benechat {
                            margin: 0 auto;
            
                            width: 450px;
                            height: 473px;

                            .image_1 {
                                width: 273px;
                                height: 202.2px;
                            }
        
            
                            .image_2 {
                                top: 226px;
                                left: 150px;
                                width: 273px;
                                height: 202.2px;
                                z-index: 200;
                            }
            
                            .image_3 {
                                top: 104px;
                                left: 60px;
                                z-index: 10;
                                width: 300px;
                                height: 202.2px;
                            }
            
            
                        }
            
                        .benechat_text {
                            margin-top: 60px;
                        }
                
                        .images_section__tickets_two {
                            margin: 0 auto;
            
                            width: 560px;
                            height: 473px;
            
                            img {
                                width: 408px;
                                height: 285px;
                            }
            
                            .image_1 {
                                top: 116px;
                                right: 0px;
                                z-index: 10;
                            }
                        }

                        .images_section_clipper {
                            img {
                                width: 566px;
                                height: 281px;
                            }
                        }
            
                        h2 {
                            margin-top: 109px;
                            font-size: 53px;
                        }
                    }
                }
    
                .left_slide > div {
                }
    
                .right_slide {
    
                    .card_item {

                        flex-direction: column;
                        justify-content: center;
    
                        .description {
            
                            margin: 0 auto;
                
                            &__title {
                                color: #D9E6F5;
                                font-size: 30px;   
                            }

                            .videoticket {
                                font-size: 23px;
                            }
                
                            &__description {
                                margin-top: 30px;
                            }
                        }
                
                
                        .stack {
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                
                            margin: 102px auto 0px;
                            padding: 26px 25px;
                            background-color: #FEFEFE29;
                            border-radius: 27px;
                
                            max-width: 410px;
                
                            .row {
                
                                display: flex;
                                justify-content: space-around;
                                align-items: flex-end;
                
                                .item {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    padding: 6px;
                
                                    h4 {
                                        font-size: 13px;
                                        color: #464D63;
                                        text-align: center;
                                        font-weight: 600;
                
                                        font-family: "Kadwa", serif;
                                    }
                                }
                            }
                
                            .withTwo {
                                justify-content: center;
                                gap: 50px;
                            }
                        }
                
                        .btn_section {
                            margin-top: 40px;
                            display: flex;
                            justify-content: center;
                
                            &__button {
                
                                padding: 20px 30px;
                                background-color: #494D5A;
                                border-radius: 30px;
                            }
            
                            img {
                            }
                        }
                    }

                }
    
                .right_slide > div {
                    height: 100%;
                    width: 100%;
                    background-color: rgb(96, 97, 97);
                }
    
                .button_section {
    
                    button {
                        position: absolute;
                        left: 60%;
                        top: 50%;
                        z-index: 100;
                    }
    
                    .down_button {
                        transform: translateX(-100%);
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                    }
    
                    .up_button {
                        transform: translateY(-100%);
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }
                }
            }
        }

        .contact {
    
            .rectangle {

                flex-direction: column;
                justify-content: center;
                margin-top: 60px;
                background-color: #494D5A;
                width: 760px;
                padding: 15px;
                margin-bottom: 81px;
    
                &__title {
                    margin-top: 100px;
    
                    font-size: 75px;
                }
    
                .form {
                    
                    
                    margin-top: 104px;

                    display: flex;
                    justify-content: center;
                    &__info {

                        position: relative;

                        .name {
                        }

                        input {
                            margin: 0px;
                        }
    
                        input::placeholder {
                        }
    
                        .border {
                        }
    
                        .email {
                            margin-top: 30px;
                            padding-bottom: 40px;
                        }

                        .button_chat {
                            position: absolute;
                            bottom: -20px;
                            right: 20px;
                        }
                    }
                }
    
                &__contacts {
                    margin-top: 57px;
    
                    display: flex;
                    justify-content: center;
                    column-gap: 35px;
    
                    font-size: 15px;
                    font-weight: 400;
                    
                    
                    .item {
                        display: flex;
                        align-items: center;
                        column-gap: 8px;
                        transition: all 0.5s ease-in-out;
    
                        a {
                            color: white;
    
                            transition: all 0.5s ease-in-out;
                        }
    
                        // a:hover {
                        //     font-weight: 450;
                        //     scale: 1.2
                        // }
                    }
    
                    .item:hover {
                        font-weight: 450;
                        scale: 1.2;
                    }
    
                    margin-bottom: 56px;
                }
            }
        }
    }

    // планшеты 

    // телефоны 
}