body {
  font-family: "Unbounded", sans-serif;
  color: #F1F1F1;
  font-size: 20px;
  font-weight: 300;
  line-height: 24.8px;
  max-width: 1550px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

.non_visible {
  display: none;
  opacity: 0;
}

.loader {
  width: 100%;
  height: 100vh;
  background-color: rgb(198, 190, 225);
}
.loader__section {
  position: relative;
  font-size: 75px;
  font-weight: 300;
  z-index: 2;
}
.loader__section .right h2 {
  padding: 100px 0px;
}
.loader__section .share {
  opacity: 1;
  position: absolute;
  top: 50px;
  right: 252px;
  z-index: -1;
  width: 400px;
  height: 400px;
  background-color: rgb(73, 77, 90);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader__section .share h2 {
  font-size: 40px;
  font-weight: 250;
  opacity: 1;
}

.preview {
  display: flex;
  justify-content: center;
  align-items: center;
}
.preview .keyboard {
  opacity: 0;
  text-align: center;
}
.preview .keyboard__keyaboards {
  display: flex;
  justify-content: center;
  -moz-column-gap: 22px;
       column-gap: 22px;
}
.preview .keyboard__text {
  font-family: "Kameron";
  margin-top: 14px;
  font-size: 40px;
  font-weight: 400;
}

.header {
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 100;
  color: white;
  margin: 20px;
  padding: 15px;
  background: linear-gradient(90deg, rgba(232, 153, 191, 0.32) 0%, rgba(185, 178, 142, 0.32) 30.68%, rgba(175, 158, 175, 0.32) 52.4%, rgba(159, 165, 195, 0.32) 81.66%);
  border-radius: 36px;
}
.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 73px;
}
.header .nav__nav {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.header .nav__nav .item {
  font-size: 20px;
  font-weight: 400;
  line-height: 23.74px;
}
.header .nav__nav .item a {
  color: rgb(255, 255, 255);
}
.header .nav__nav .active {
  background: linear-gradient(90deg, rgba(232, 153, 191, 0.32) 8%, rgba(185, 178, 142, 0.32) 30.68%, rgba(175, 158, 175, 0.32) 52.4%, rgba(159, 165, 195, 0.32) 81.66%);
  border-radius: 36px;
}

.slider {
  background-color: #494D5A;
  color: #ffffff;
}
.slider .first {
  display: flex;
}
.slider .first .blocks .row {
  display: flex;
}
.slider .first .blocks .row .block {
  cursor: pointer;
  width: 327px;
  height: 327px;
  border: 1px solid #CACACA;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.slider .first .blocks .row .block p {
  margin-left: 37px;
  padding: 5px;
  font-size: 32px;
  font-weight: 300;
  line-height: 39.68px;
}
.slider .first .blocks .row .bottom {
  width: 654px;
}
.slider .first .right {
  width: 100%;
}
.slider .first .right .result {
  height: 654px;
  background-color: #C6BEE1;
}
.slider .first .right .result__info .text_section {
  padding-top: 64px;
  margin-left: 65px;
}
.slider .first .right .result__info .text_section h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 39.68px;
}
.slider .first .right .result__info .text_section p {
  margin-top: 18px;
  font-weight: 400;
  line-height: 24.8px;
  font-size: 20px;
}
.slider .first .right .result__info .image_section {
  margin-top: 24px;
}
.slider .first .right .result__info .image_section__row {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.slider .first .right .result__info .image_section__row .item {
  text-align: center;
}
.slider .first .right .result__info .image_section__row .item p {
  margin-top: 13px;
  color: #464D63;
  font-weight: 700;
  font-size: 20px;
}
.slider .first .right .result__info .image_section .help {
  margin-top: 26px;
}
.slider .first .right .result__info .pm {
  margin-top: 26px;
  margin-left: 131px;
}
.slider .first .right .result__info .SA {
  margin-top: 120px;
}
.slider .first .right .result .active {
  opacity: 1;
}
.slider .first .right .result .non_visible {
  display: none;
  opacity: 0;
}
.slider .first .right .result_chat {
  border: 1px solid #CACACA;
}
.slider .first .right .result_chat p {
  margin-top: 56px;
  margin-left: 43px;
  font-weight: 300;
  font-size: 20px;
}
.slider .first .right .result_chat .button_section {
  margin-top: 67px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px 0px 43px;
}
.slider .first .right .result_chat .button_section button {
  align-items: center;
  display: inline-flex;
  align-items: center;
  background: linear-gradient(90deg, #F1AD2A 0%, #BA7EE0 100%);
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
}
.slider .first .right .result_chat .button_section button .active_btn {
  padding: 10px;
  border-radius: 50%;
  background-color: white;
}
.slider .first .right .result_chat .button_section button span {
  font-family: "Unbounded", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
}
.slider .first .right .result_chat .button_section button img {
  margin-left: 28px;
  padding: 10px;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
}
.slider .info {
  margin-top: 88px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  padding-bottom: 88px;
}
.slider .info__item h3 {
  font-size: 40px;
  font-weight: 800;
}
.slider .info__item p {
  margin-top: 5px;
  font-size: 20px;
  font-weight: 300;
}

.benechat {
  display: flex;
}
.benechat .container {
  width: 100%;
  display: flex;
}
.benechat .container .benechat__one {
  width: 60%;
  background-color: #7FACE1;
}
.benechat .container .benechat__one .images_section_benechat {
  margin-top: 220px;
  margin-left: 66px;
  position: relative;
  width: 683px;
  height: 473px;
}
.benechat .container .benechat__one .images_section_benechat img {
  position: absolute;
  z-index: 1;
}
.benechat .container .benechat__one .images_section_benechat .image_2 {
  top: 56px;
  left: 228px;
  z-index: 5;
}
.benechat .container .benechat__one .images_section_benechat .image_3 {
  top: 104px;
  left: 86px;
  z-index: 10;
}
.benechat .container .benechat__one .benechat_text {
  margin-top: 60px;
}
.benechat .container .benechat__one .images_section_clipper {
  margin-top: 282px;
  margin-left: 42px;
}
.benechat .container .benechat__one .clipper_text {
  margin-top: 109px;
}
.benechat .container .benechat__one .images_section__tickets_two {
  margin-top: 198px;
  margin-left: 123px;
  position: relative;
  width: 633px;
  height: 472px;
}
.benechat .container .benechat__one .images_section__tickets_two img {
  position: absolute;
}
.benechat .container .benechat__one .images_section__tickets_two .image_1 {
  top: 116px;
  left: 123px;
  z-index: 10;
}
.benechat .container .benechat__one .video_text {
  margin-top: 68px;
}
.benechat .container .benechat__one h2 {
  margin-top: 109px;
  text-align: center;
  font-size: 64px;
  font-weight: 600;
  color: #F1F1F1;
}
.benechat .container .benechat__two {
  width: 40%;
  background-color: rgba(136, 141, 158, 0.7098039216);
}
.benechat .container .benechat__two .description {
  max-width: 500px;
  margin-left: 85px;
}
.benechat .container .benechat__two .description__title {
  color: #D9E6F5;
  font-size: 48px;
  margin-top: 198px;
}
.benechat .container .benechat__two .description__description {
  margin-top: 30px;
}
.benechat .container .benechat__two .stack {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 102px auto 0px;
  padding: 26px 25px;
  background-color: rgba(254, 254, 254, 0.1607843137);
  border-radius: 27px;
  max-width: 410px;
}
.benechat .container .benechat__two .stack .row {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.benechat .container .benechat__two .stack .row .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px;
}
.benechat .container .benechat__two .stack .row .item h4 {
  font-size: 13px;
  color: #464D63;
  text-align: center;
  font-weight: 600;
  font-family: "Kadwa", serif;
}
.benechat .container .benechat__two .stack .withTwo {
  justify-content: center;
  gap: 50px;
}
.benechat .container .benechat__two .btn_section {
  margin-top: 86px;
  display: flex;
  justify-content: center;
  margin-bottom: 89px;
}
.benechat .container .benechat__two .btn_section__button {
  padding: 20px 30px;
  background-color: #494D5A;
  border-radius: 30px;
}
.contact {
  display: flex;
  justify-content: center;
  background-color: #7FACE1;
}
.contact .rectangle {
  margin-top: 60px;
  background-color: #494D5A;
  width: 1200px;
  padding: 23px;
  margin-bottom: 81px;
}
.contact .rectangle__title {
  text-align: center;
  margin-top: 236px;
  font-size: 120px;
  font-weight: 400;
}
.contact .rectangle .form {
  margin-top: 174px;
  display: flex;
  justify-content: flex-end;
}
.contact .rectangle .form__info input {
  margin-left: 22px;
  width: 670px;
  height: 39px;
}
.contact .rectangle .form__info input::-moz-placeholder {
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 200;
  font-family: "Inter", sans-serif;
}
.contact .rectangle .form__info input::placeholder {
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 200;
  font-family: "Inter", sans-serif;
}
.contact .rectangle .form__info .border {
  height: 2px;
  width: 670px;
  background-color: #FFFFFF;
  margin-top: 17px;
}
.contact .rectangle .form__info .email {
  margin-top: 30px;
}

.footer {
  background-color: #494D5A;
  padding: 1px;
}
.footer .keyboard {
  margin-top: 143px;
  text-align: center;
}
.footer .keyboard__keyaboards {
  display: flex;
  justify-content: center;
  -moz-column-gap: 22px;
       column-gap: 22px;
}
.footer .keyboard__text {
  font-family: "Kameron";
  margin-top: 14px;
  font-size: 40px;
  font-weight: 400;
}
.footer .contacts {
  margin-top: 53px;
  display: flex;
  justify-content: center;
  -moz-column-gap: 140px;
       column-gap: 140px;
  margin-bottom: 56px;
}
.footer .contacts__item {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}/*# sourceMappingURL=style.css.map */